# Python virtual environments
venv/
env/
.venv/
.env/
.python-version

# Distribution / packaging
dist/
build/
*.egg-info/

# Python cache files
/src/interpolation/__pycache__/
/src/tests/__pycache__
__pycache__

# Ruff cache
.ruff_cache/

# Images
*.jpeg
*.png
*.jpg

# Coverage
.coverage